<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head_fragment('Insert title here', ~{}, ~{::link})">
<link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
    <header th:replace="header::nav_bar"></header>
    <div id="content">
        <h1 th:text="'id : ' + ${employee.id} + ' の従業員情報 詳細ページ'"></h1>
        <table th:object="${employee}">
            <tr>
                <th>社員番号</th>
                <td th:text="*{authentication.code}"></td>
            </tr>
            <tr>
                <th>氏名</th>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <th>権限</th>
                <td th:text="*{authentication.role}"></td>
            </tr>
            <tr>
                <th>登録日時</th>
                <td th:text="*{#temporals.format(createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th>更新日時</th>
                <td th:text="*{#temporals.format(updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
            </tr>
        </table>
        <div>
            <a th:href="@{/employee}">一覧に戻る</a>
            <a th:href="@{/employee/update/{id}/(id=${id})}">この従業員情報を編集する</a>
        </div>
    </div>
</body>
</html>