<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト">
    </form>
    <h1>従業員一覧</h1>
    <table>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>操作</th>
        </tr>
        <tr th:each="employee : ${employeelist}">
            <td th:text="${employee.authentication.code}"></td>
            <td th:text="${employee.name}"></td>
            <td><a th:href="@{/employee/detail/{id}/(id=${employee.id})}">詳細を見る</a></td>
        </tr>
    </table>
    <a th:href="@{/employee/register}">新規従業員の登録</a>
</body>
</html>