<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head_fragment('Insert title here', ~{}, ~{::link})">
<link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <header th:replace="header::nav_bar"></header>
    <div id="content">
        <h1>従業員 新規登録ページ</h1>
        <form method="post" th:action="@{/employee/register}" th:object="${employee}">
            <div>
                <label for="code">社員番号</label>
                <input type="text" th:field="*{authentication.code}" th:errorclass="err">
            </div>
            <span th:errors="*{authentication.code}" class="err"></span>
            <div>
                <label for="name">氏名</label>
                <input type="text" th:field="*{name}" th:errorclass="err">
            </div>
            <span th:errors="*{name}" class="err"></span>
            <div>
                <label for="password">パスワード</label>
                <input type="text" th:field="*{authentication.password}" th:errorclass="err">
            </div>
            <span th:errors="*{authentication.password}" class="err"></span>
            <div>
            <label for="role">権限</label>
                <select th:field="*{authentication.role}" th:errorclass="err">
                    <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}"
                            th:value="${item}" th:text="${item}" th:selected="*{authentication.role} == ${item}">
                </select>
            </div>
            <div>
                <a th:href="@{/employee}">一覧に戻る</a>
                <input id="submit" type="submit" value="登録">
            </div>
        </form>
    </div>
</body>
</html>