<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1 th:text="'id : ' + ${employee.id} + ' の従業員情報 詳細ページ'"></h1>
    <form method="post" th:action="@{/employee/update/{id}/(id=${id})}" th:object="${employee}">
        <label for="code">社員番号</label>
        <input type="text" th:field="*{authentication.code}" th:errorclass="err">
        <span th:error="*{authentication.code}" class="err"></span>
        <br>
        <label for="name">氏名</label>
        <input type="text" th:field="*{name}" th:errorclass="err">
        <span th:error="*{name}" class="err"></span>
        <br>
        <label for="password">パスワード</label>
        <input type="text" th:field="*{authentication.password}">
        <br>
        <label for="role">権限</label>
        <select th:field="*{authentication.role}" th:errorclass="err">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}"
                    th:value="${item}" th:text="${item}" th:selected="*{authentication.role} == ${item}">
        </select>
        <span th:error="*{authentication.role}" class="err"></span>
        <br>
        <input type="submit" value="登録">
        <br>
        <a th:href="@{/employee/list}">一覧に戻る</a>
    </form>
</body>
</html>