@charset "UTF-8";

body {
    display: flex;
    flex-flow: column;
    background-color: #F1F1F1;
    margin: 0;
    min-width: 768px;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

#content {
    padding: 20px 50px 0 50px;
    background-color: white;
    height: 100%;
    font-size: 20px;
}

#content h1 {
    font-size: 40px;
}
