<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap"
    rel="stylesheet">
</head>
<body>
    <div id="content">
        <h1>ログイン</h1>
        <p class="err" th:if="${param.error}">ユーザー名かパスワードが一致しません</p>
        <form method="post" th:action="@{/login}">
            <label for="username">社員番号</label> <input type="text" name="username">
            <label for="password">パスワード</label> <input type="password"
                name="password"> <input id="submit" type="submit"
                value="ログイン">
        </form>
    </div>
</body>
</html>